<!--users/templates/base.html-->

<style>
        h1 {
            color:rgb(241, 69, 69);  
            text-align: center; 
            font-weight: bolder;
            font-size: 200%;         
        }
        label, input {
           display: block;
           color:blue;
        }
        span.helptext {
           display: none;
        }
        body{
            background-color:rgb(44, 42, 42);
        }
</style>
<body>
    <h1> Welcome To Proper Farming System </h1><hr />

    {% block content %}
    
	{% endblock %}
</body>


