<!--users/templates/users/register.html-->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    h2 {
           color:rgb(184, 3, 3);   
       }
    #onez {
        color:rgb(240, 247, 240);
        background-color: green;
        padding: 10px;
    }
    #threez {
        color:red;
    }
</style>

<h2> Create an Acount! </h2>

<form method="post" class="uniForm">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="one" id = "onez"> Register </button>
</form>

<a href="{% url 'login' %}" class="three" id="threez">Back to login</a>

{% endblock %}